* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/772ec45c-1ae3-4bd9-95c5-30c4adab6bbb/delcpcc-c79853c0-2561-44f3-a7ef-7857a1439f60.png/v1/fill/w_1192,h_670,q_70,strp/lux_cosmos_negro_wallpaper_by_aeripearl_delcpcc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNzcyZWM0NWMtMWFlMy00YmQ5LTk1YzUtMzBjNGFkYWI2YmJiXC9kZWxjcGNjLWM3OTg1M2MwLTI1NjEtNDRmMy1hN2VmLTc4NTdhMTQzOWY2MC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.VGPFU0ltUS5x8seX4hnatpEzgsXzwZc3FeStsifa30Y);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 5rem;
    background-color: rgba(88, 88, 88, 0.788);
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav .nav__item a{
    text-decoration: none;
    color: white;
    background-color: #db5151;
    padding: 1.2rem 1.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

header nav .nav__item a:hover {
    background-color: #dbaf51;
}